.gridItem {
    height: 100%;
    max-height: 400px;
    max-height: fit-content;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    width: 100%;
    margin: 0 auto;
    border: solid 1px #e8e8e8;
    border-radius: 6px;
    background: #fff;
    display: block;
    flex-grow: 1;
    text-align: center;
    width: 100%;
}

.tag-container {
    display: inline-flex; /* Use inline-flex to center the tags within the container */
    justify-content: center; /* Ensure tags are centered */
    flex-wrap: wrap; /* Allow tags to wrap if there are too many */
    margin-top: 10px;
  }
  
  .tag {
    background-color: #f3f4f6;
  color: #333;
  padding: 5px 10px;
  border-radius: 12px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 0.875rem;
  display: inline-block;
  }

.innerGridItem {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px 5px 20px;
    position: relative;
    width: 100%;
}

.gridTopRow {
    border-radius: 3px;
    display: grid;
    grid-column-gap: 2px;
    overflow: hidden;
    position: relative;
    transition: filter .2s linear;
    /* z-index: 1; */
    grid-template-columns: repeat(3, 1fr);
    height: 111.2px;
}

.CollabGrid {
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 90%;
    margin-top: 70px;
}

.thumbnail {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.UserInfo {
    padding: 0 12px;
}

.UserInfo-Avatar {
    border: 2px solid #fff;
    box-shadow: 0 1px 5px rgba(25, 25, 25, .15);
    display: inline-block;
    height: auto;
    left: 0;
    position: relative;
    transform: translate(0, -50%);
    width: 25%;
    /* z-index: 2; */
    border-radius: 50%;
}

.UserInfo-ImageWrap img {
    border-radius: 50%;
}

.UserInfo-Data {

}

.UserInfo-ImageWrap {
    align-items: center;
    background: #e8e8e8;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    /* z-index: 1; */
}

.UserInfo-Name {
    font-size: 18px;
    font-weight: 600;
    height: 19px;
    margin: 50px auto 6px;
    width: 100%;
}

.UserInfo-Location {
    color: #707070;
    display: flex;
    font-size: 14px;
    height: 19px;
    justify-content: center;
    margin: 0 10px;
    margin-bottom: 16px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: color .2s;
    white-space: nowrap;
}

.UserSummaryInfo-locationIcon {
    fill: #959595;
    height: 12px;
    margin-right: 5px;
    position: relative;
    top: 1px;
    transition: fill .2s;
}

.UserInfo-Available {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    height: 22px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 16px;
    width: 100%;
}

.UserInfo-Available button {
    background-color: rgba(0, 87, 255, .05);
    padding: 5px 10px 5px 7px;
    transition-duration: 300ms;
    color: #0057ff;
    border-radius: 10px;
}

.UserInfo-CollabButton {
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: space-around;
    left: 0;
    opacity: 1;
    padding: 25px 20px 0;
    transition: opacity .1s linear;
    width: 100%;
    /* z-index: 1; */
    align-items: center;
    font-weight: 600;
    height: 30px;
    min-height: 0;
    padding: 0;
    margin-top: 25px;
}

.UserInfo-CollabButton button {
    background: #fff;
    border: 1px solid #e8e8e8;
    color: #191919;
    width: 100%;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.event-form-container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .progress-indicator {
    position: relative;
    margin-bottom: 20px;
  }
  
  .step {
    text-align: center;
    flex-grow: 1;
  }
  
  .step-indicator {
    width: 30px;
    height: 30px;
    background-color: #e2e8f0;
    border-radius: 50%;
    margin: 0 auto 10px auto;
  }
  
  .step.active .step-indicator {
    background-color: #6366f1;
  }
  
  button {
    transition: opacity 0.2s ease;
  }
  